<!DOCTYPE html>
<html>
  <head>
    <title>翻来覆去</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="VueIndex.css">
  </head>
  <body>
    <div id="app1">
      <input id="input1" autocomplete="off" @keydown.enter={write()} v-model="inputMsg" placeholder="添加一家新餐馆吧"/>
      <div id="dicecard" :class="{action:isAction}">{{ restaurantName }}</div>
      <button class="start" @click="roll">START!</button>
      <ul id="list" @dblclick="remove">
        <li v-for="(item,index) in items" >
            {{index}}. {{item.name}} 
        </li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="VueIndex.js"></script>
  </body>
</html>


