body{
    margin: 0;
    padding: 0;
}

@keyframes act1{
    10% {transform: rotate3d(0,1,0,0.5turn );
    }
    20% {transform: rotate3d(0,1,0,1turn );
    }
    30% {transform: rotate3d(1,0,0,0.5turn );
    }
    40% {transform: rotate3d(1,0,0,1turn );  
    }
    50% {transform: rotate3d(1,1,0,0.5turn );
    }
    60% {transform: rotate3d(1,1,0,1turn );
    }
    70% {transform: rotate3d(1,1,0,0.5turn  );
    }
    80% {transform: rotate3d(1,1,0,1turn);
    }
    90% {transform: rotate3d(0,1,0,0.5turn );
    }
    100% {transform: rotate3d(0,1,0,1turn );
    }
}

#app1{
   position: absolute;
   width: 200px;
   height: 200px;
   left: 50%;
   top: 50%;
   /* margin-left: 0px;  */
   margin-top: -220px;
   background: #8181e0;
   border: 20px solid #8474dc;
   border-radius: 50px;
   text-align: center;
   line-height: 200px;
   font-size: 36px;
   font-weight: 900;
   color: azure;
   font-family:  monospace;
   cursor: pointer; 
}

#component-demo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 50px;
    margin-left: 20px;
    width: 200px;
    height: 200px;
    background: #890234;
    border-radius: 50%;
    cursor: pointer; 
    line-height: 200px;
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 50px;
    font-family: monospace;
}

#input1{
    position: absolute;
    left: 50%;
    top: 50%;
    /* margin-left: -22px; */
    margin-top: -320px;
    width: 230px;
    height: 80px;
    border: 5px solid #ffd07e;
    border-radius: 20px;
    line-height: 80px;
    font-size: 22px;
    z-index: 200;
    outline:none;
    text-align: center;
}

.action{
    animation: act1 2.5s ;
    animation-fill-mode: forwards;
}

#list{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -220px;
    margin-top: -220px;
    list-style: none;
    width: 200px;
    height: 400px;
}

#list li{
    width: 200px;
    height: 50px;
    line-height: 50px;
}

.right{
    text-align: right;
    font-size: 40px;
    font-weight: 900;
}

.left{
    text-align: left;
    font-size: 26px;
    /* font-weight: 900; */
}

