body{
    margin: 0;
    padding: 0;
    background: #fff;
}

@keyframes act1{
    25% {transform: rotate3d(0,1,0,0.5turn);
    }
    50% {transform: rotate3d(0,1,0,1turn);
    }
    75% {transform: rotate3d(0,1,0,0.5turn);
    }
    100% {transform: rotate3d(0,1,0,1turn);  
    }
}

@keyframes act2 {
    10% { transform: translate(60px,0px)}
    20% { transform: translate(-60px,0px)}
    30% { transform: translate(50px,0px)}
    40% { transform: translate(-50px,0px)}
    50% { transform: translate(40px,0px)}
    60% { transform: translate(-40px,0px)}
    70% { transform: translate(30px,0px)}
    80% { transform: translate(-30px,0px)}
    90% { transform: translate(20px,0px)}
    100% { transform: translate(0px,0px)}
}

#app1{
    position: absolute;
    width: 600px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -200px;
    background: #fff;
}

#dicecard{
   position: absolute;
   width: 200px;
   height: 200px;
   left: 50%;
   top: 50%;
   margin-left: -120px; 
   margin-top: -190px;
   background: #8474dc;
   border: 20px solid #8474dc;
   border-radius: 50px;
   text-align: center;
   line-height: 200px;
   font-size: 30px;
   font-weight: 900;
   color: azure;
   font-family:  monospace;
   cursor: pointer; 
}

.start{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 70px;
    margin-left: -100px;
    width: 200px;
    height: 200px;
    background: #890234;
    border-radius: 50%;
    cursor: pointer; 
    line-height: 200px;
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 50px;
    font-family: monospace;
    z-index: 102;
    outline: none;
}

#input1{
    margin-left: 50px;
    margin-bottom: 20px;
    width: 230px;
    height: 60px;
    border: 5px solid #ffd07e;
    border-radius: 20px;
    line-height: 80px;
    font-size: 22px;
    z-index: 200;
    outline:none;
    text-align: center;
}

.warning{
    border:  5px solid red!important;
}

.shake{
    animation: act2 1s;
}

.action{
    animation: act1 1s ;
    animation-fill-mode: forwards;
}

#list{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    margin-left: -520px;
    margin-top: -360px;
    list-style: none;
    width: 340px;
    height: 400px;
    font-size: 32px;
    font-weight: 900; 
    line-height: 80px;
}

#list h4{
    color: tomato;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 50px;
    margin: 0px 0px;
}

#list h4 span{
    font-size: 60px;
    color: orange;
}

#list li{
    width: 260px;
    height: 60px;
    line-height: 40px;
    /* vertical-align: middle; */
}

#list li img{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    visibility: hidden; 
    z-index: 1000;
    cursor: pointer;
    float: left;
    padding-right: 10px;
}

#list li:hover img {
    visibility: visible;
}

.act{
    animation: act2 1S;
}

.right{
    text-align: right;
    font-size: 40px;
    font-weight: 900;
}

.left{
    text-align: left;
    font-size: 26px;
    /* font-weight: 900; */
}

.template{
    width: 200px;
    height: 200px;
    background: #890234;
    border-radius: 40px;
    line-height: 200px;
    color: azure;
    text-align: center;
}